.void-plugin-card-required-icon,
.void-plugin-card-badge,
.void-plugin-card-crashed-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: hsl(var(--fg-tertiary));
    flex-shrink: 0;
    line-height: 0;
}

.void-plugin-card-crashed-icon {
    color: hsl(var(--fg-danger));
}

.void-plugin-card-required {
    opacity: 0.4;
}

.void-plugin-card-crashed {
    opacity: 0.5;
    border-color: hsl(var(--red-700));
}

.void-plugin-card-crashed-icon svg {
    width: 1em;
    height: 1em;
}

.void-plugin-card-pin {
    color: hsl(var(--fg-tertiary));
}

.void-plugin-card-pin-active {
    color: hsl(var(--fg-primary));
}
